/*
body{
    background-color: rgb(95, 159, 95);
}
*/

p{
    padding: 0px;
    margin-bottom: 0px;
}

footer p{
    line-height: normal;
}

header{
    margin-bottom: 100px;
}

#nav-button, #confirm-button{
    color: inherit;
    text-decoration: none;
}


.content{
    border: 5px solid rgb(241, 191, 53);
    margin-top: 50px;
    width: 320px;  
    overflow: hidden;  
    margin: auto;  

    padding: 20px;  
    background: #f4f4f4;  
    border-radius: 15px ; 
}

form{
    padding: 20px;
}

.required-info{
    margin-top: 30px;
}

button{
    transform: translate(2%, 20%);
    margin-bottom: 10px;
    width: 220px;
    height: 35px; 
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: white;
    border: 1px solid rgb(241, 191, 53);
    transition: 0.3s 0.3s;
}

button:hover{
    background-color: rgb(241, 191, 53);
}

.input-in-form{
    height: 30px;
    width: 240px;
}

h2{
    margin-top: 0px;
    margin-bottom: 40px;
}

.additional-options{
    margin-top: 20px;
    line-height: 10px;
    font-size: 15px;
    color: rgb(120, 117, 114);
}
