/* sets apperarance for the whole selector list*/
form{
  -webkit-appearance: none;
  margin: 2%;
  padding: 2px;
  max-width: fit-content;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 10px;
  background-color: rgb(193, 243, 234);
}

/* for the options inside each accordeon */
.accordion fieldset {   
  padding: 0; 
  outline: 0;
  margin-bottom: 5px;
  border:none;
 }

 /* each accordeon label is a checkbox (so it will "react" when you click on it") - this hides the actual "box" */
 /*
 #legend{
  display: none;
}*/

/* for the accordeon label*/
#criterion{
  /* (C1) DIMENSIONS */
  position: relative; /* required for (f2) position:absolute */
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
 
  /* (C2) COSMETICS */
  cursor: pointer;
}

/* hides the list of options for each accordeon */
.accordion  input ~ fieldset {
  background: #ccdef9;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
 
}

.accordion fieldset label { padding: 10px; }

/* shows the list of options when the accordeon label is clicked */
input:checked ~ fieldset { max-height: 100px; }

/* (F) EXTRA - ADD ARROW INDICATOR */
.accordion label::after {
  /* (F1) RIGHT ARROW */
  display: block;  
  content: "\25b6";
 
  /* (F2) PLACE AT RIGHT SIDE */
  position: absolute;
  right: 15px; top: 10px;
 
  /* (F3) ANIMATED ARROW */
  transition: all 0.4s;
}
 
/* (F4) ROTATE ARROW ON CHECKED */
.accordion  input:checked ~ label::after { transform: rotate(90deg); }


