.tile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding-top: 0px;
    margin-top: 5px;
    max-height: 300px;
    min-width: fit-conten;
    max-width: 200px;
    background-color:beige;
    border: 5px solid rgb(231, 231, 231);
}

.tile_set{
    padding-top: 5px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1.5em;
}

#animal_name, #expand_label{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    text-align: center;
    color:black;
}

#expand_label{
    font-size: smaller;
    position: relative;
    margin-left: 100px;
    cursor: pointer;
}

#expand_label::after{
    display:inline;  
    content: "\00BB";
}

#expand_label:hover{
    opacity: 0.7;
}

/*
#expand{
    display: none;
}
*/

.animal_extra_info{
    float: left;
    color: transparent;
}

.tile input ~ .animal_extra_info{
    overflow: hidden;
    max-width: 0px;
    max-height: 0px;    
}

.tile input:checked ~ .tile .animal_extra_info{
    max-width: fit-content;
    max-height: fit-content;
    color: black;
    overflow: visible;
}

.animal_img{
    align-self: center;
    margin: 0%;
    padding: 0px;
    background-position: 100%;
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
    position:relative;
}