#title{
    align-self: center;
    font-size:xx-large;
    padding: 20px;
    transform: translate(35%, 0%);
}

.content{
    border: 5px solid rgb(241, 191, 53);
    margin-top: 50px;
    width: 900px;  
    overflow: hidden;  
    margin: auto;  
    padding: 20px;  
    background: #f4f4f4;  
    border-radius: 15px ; 
}

/* label + short-text-input */
.short-text-div, .radio-div{
    border-top: 10px gray;
    padding: 10px;
}

.text-area-div p{
    padding-left: 10px;
}

/* the actual input text box*/
.short-text-input{      
    border: 1px solid  rgb(58, 56, 53);
    width: 300px;
    padding: 5px;
}


#buttons-div{
    display: flex;
}

button{
    font-size: medium;
    height: 30px;
    width: 100px;
    margin: 10px;
}

#reset-button{
    border: 3px solid rgba(215, 0, 0, 0.847);
    margin-right: 200px;
    margin-left: 230px;
}

#reset-button:hover{
    border: 3px solid rgba(255, 27, 27, 0.847);
}

#submit-button{
    border: 3px solid rgb(65, 164, 65);
}

#submit-button:hover{
    border: 3px solid rgb(108, 182, 108);
}

#drop_zone {
    border: 5px solid blue;
    width:  200px;
    height: 100px;
  }

.text-area-div textarea{
    margin-left: 20px;
}

.clear-button{
    margin-left: 350px;
    font-size: small;
    width: fit-content;
    height: fit-content;
}