.header{
    margin-bottom: 20px;
}

.title{
    max-width: fit-content;
    border-top: 5px solid rgb(241, 191, 53);
    border-bottom: 5px solid rgb(241, 191, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color:rgb(65, 164, 65);;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 25px;
    margin-bottom: 55px;
}

.content{
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
}

.tile-set{
    padding-top: 5px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 65px;
}

.upper-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    width: 235px;
    height: 35px; 
    display: flex;
}

.search-term {
    width: 100%;
    border: 3px solid  rgb(58, 56, 53);
    border-radius: 5px 0 0 5px;
    font-size: 17px;
    padding: 5px;
  }
  
button{
    margin-bottom: 10px;
    width: 200px;
    height: 35px; 
    border: none;   
    background-color:  rgb(95, 159, 95);;
}

.search-button {
    width: 40px;
    border: 1px ;
    border-radius: 0 5px 5px 0;
    background:  rgb(58, 56, 53);
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
}


#add-button{
    margin-left: 10px;
}

#add-button:hover, .edit-button:hover{
    background-color:  rgb(108, 182, 108);;
}

.remove-button{
    background-color: rgba(215, 0, 0, 0.847);
}

.remove-button:hover{
    background-color: rgba(231, 15, 15, 0.847);
}

.content a{
    text-decoration: none;
    color: black;
}

.tile{
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: 190px;
    margin-top: 50px;
   /* border: 5px solid rgb(58, 56, 53); 
    transform: translate(20%, 0%);*/
    border: 5px solid rgb(58, 56, 53);
    padding: 10px;
    background-color: white;
}

.visible_checkbox{
    align-self: center;
    transform: translate(30%, 0%);
}

.tile .animal-name{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.animal-name{
    text-decoration: underline;
}

.animal-name:hover{
    color:  rgb(99, 97, 95);
    cursor: pointer;
}

