.header{
    margin-bottom: 20px;
}

.title{
    max-width: fit-content;
    border-top: 5px solid rgb(241, 191, 53);
    border-bottom: 5px solid rgb(241, 191, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color:rgb(65, 164, 65);;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 25px;
    margin-bottom: 55px;
    height: fit-content;
}

.all-content{
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 200px;
}

.content{
    
    display: flex;
    flex-direction: column;
}

.tile-set{
    padding-top: 5px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 65px;
}

#upper-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-bar {
    background:  rgb(58, 56, 53);
    width: 300px;
    height:fit-content; 
    justify-content: space-around;
    vertical-align: middle;
}

.search-term {
    width: 250px;
    height: 37px; 
    border: 3px solid  rgb(58, 56, 53);
    border-radius: 5px 0 0 5px;
    font-size: 17px;
    padding: 5px;
  }
  
button, #add-button{
    margin-bottom: 10px;
    width: 200px;
    height: 35px; 
    border: none;   
    background-color:  rgb(95, 159, 95);;
}

.search-button {
    height: 36px; 
    width: 40px;
    border: 1px ;
    border-radius: 0 5px 5px 0;
    background:  rgb(58, 56, 53);
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 0px;
    padding-left: 0px;
}


#add-button{
    color: black;
    text-decoration: none;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}

#add-button:hover, .edit-button:hover{
    background-color:  rgb(108, 182, 108);;
}

.remove-button{
    background-color: rgba(215, 0, 0, 0.847);
}

.remove-button:hover{
    background-color: rgba(231, 15, 15, 0.847);
}

.content a{
    text-decoration: none;
    color: black;
}

.tile{
    background-color: rgb(228, 228, 228);
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: fit-content;
    margin-top: 50px;
    border: 5px solid rgb(58, 56, 53);
    padding: 10px;
}

.visible_checkbox{
    align-self: center;
    transform: translate(30%, 0%);
}

.tile .animal-name, .user-name{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.animal-name{
    text-decoration: underline;
}

.animal-name:hover{
    color:  rgb(99, 97, 95);
    cursor: pointer;
}

.available-tabs{
    width: fit-content;
    height: 40px;
    background-color:gainsboro;
    margin-top: 260px;
    margin-left: 200px;
}

.available-tabs button{
    background-color:gainsboro;
    width: 120px;
    height: 40px;
}

.available-tabs  button:active{
    background-color: rgb(191, 191, 191);
}

.delete-button, .ban-button, .unban-button{
    background-color: white;
    border: 3px solid rgb(241, 191, 53);
    transition: background-color 0.6s ease;
}

.delete-button:hover, .ban-button:hover:enabled, .unban-button:hover:active:enabled{
    background-color: rgb(241, 191, 53);
}

.banned-para{
    margin-bottom: 3px;
    transform: translate(35%, 0%);
}