body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

header{
    background-color: rgb(58, 56, 53);
    position: sticky;
    top: 0em;
    height: 70px;
    z-index: 255;
    width: 100%;
    margin-bottom: 20px;
}

#animals-tab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title{
    max-width: fit-content;
    border-top: 5px solid rgb(241, 191, 53);
    border-bottom: 5px solid rgb(241, 191, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color:rgb(65, 164, 65);;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 75px;
    margin-bottom: 55px;
    height: fit-content;
    text-align: center;
}

.all-content{
    margin-top: 40px;
    /* margin-right: 200px;
    margin-left: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    
    display: flex;
    flex-direction: column;
}

.tile-set{
    padding-top: 5px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 65px;
}



#search-bar {
    margin-left: 300px;
    background:  rgb(58, 56, 53);
    width: 300px;
    height:fit-content; 
    justify-content: space-around;
    vertical-align: middle;
}

.search-term {
    width: 250px;
    height: 37px; 
    border: 3px solid  rgb(58, 56, 53);
    border-radius: 5px 0 0 5px;
    font-size: 17px;
    padding: 5px;
  }
  
button, #add-button{
    margin-bottom: 10px;
    width: 200px;
    height: 35px; 
    border: none;   
    background-color:  rgb(95, 159, 95);;
}

.search-button {
    height: 36px; 
    width: 40px;
    border: 1px ;
    border-radius: 0 5px 5px 0;
    background:  rgb(58, 56, 53);
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 0px;
    padding-left: 0px;
}


#add-button{
    color: black;
    text-decoration: none;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}

#add-button:hover, .edit-button:hover{
    background-color:  rgb(108, 182, 108);;
}

.remove-button{
    background-color: rgba(215, 0, 0, 0.847);
}

.remove-button:hover{
    background-color: rgba(231, 15, 15, 0.847);
}

.content a{
    text-decoration: none;
    color: black;
}

.tile{
    background-color: rgb(228, 228, 228);
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: fit-content;
    margin-top: 50px;
    border: 5px solid rgb(58, 56, 53);
    padding: 10px;
}

.visible_checkbox{
    align-self: center;
    transform: translate(30%, 0%);
}

.tile .animal-name, .user-name{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.animal-name{
    text-decoration: underline;
}

.animal-name:hover{
    color:  rgb(99, 97, 95);
    cursor: pointer;
}

.available-tabs{
    width: fit-content;
    height: 40px;
    background-color:gainsboro;
    margin-top: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.available-tabs button{
    background-color:gainsboro;
    width: 120px;
    height: 40px;
}

.available-tabs  button:active{
    background-color: rgb(191, 191, 191);
}

.delete-button, .ban-button, .unban-button{
    background-color: white;
    border: 3px solid rgb(241, 191, 53);
    transition: background-color 0.6s ease;
}

.delete-button:hover, .ban-button:hover:enabled, .unban-button:hover:active:enabled{
    background-color: rgb(241, 191, 53);
}

.banned-para{
    margin-bottom: 3px;
    transform: translate(35%, 0%);
}

#upper-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#users-tab{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}        
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}        
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}    
    .col-12 {width: 100%;}

    #upper-content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .tile-set{
        padding-top: 5px;
        margin-bottom: 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 65px;
    }

        /* horizontal scrollbar for tables if mobile screen */
        .tablemobile {
            overflow-x: auto;
            display: block;
        }
}