/* ------------------------------------------------ filters ------------------------------------------------ */
/* sets apperarance for the whole selector list*/

.filters{
  max-height: fit-content;
  margin: 4%;
  margin-left: 2%;
  padding: 10px;
  padding-top: 0px;
  margin-top: 5px;
  min-width: 270px;
  max-width: fit-content;
  max-height: fit-content;
}

form{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  -webkit-appearance: none;
  margin: 4%;
  padding: 10px;
  padding-top: 0px;
  margin-top: 5px;
  min-width: 270px;
  max-width: fit-content;
  max-height: fit-content;
  border: 5px solid rgb(231, 231, 231);
  border-radius: 10px;
  background-color: rgb(51, 53, 53);
}


/* for the options inside each accordeon */
.accordion fieldset {   
  padding: 2px; 
  outline: 0;
  margin-bottom: 5px;
  border:none;
 }

 /* each accordeon label is a checkbox (so it will "react" when you click on it") - this hides the actual "box" */
 
 #legend1, #legend2, #legend3, #legend4, #legend5{
  display: none;
}

/* for the accordeon label*/
#criterion{
  position: relative; 
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
 
  cursor: pointer;
}

/* hides the list of options for each accordeon */
.accordion  input ~ fieldset {
  padding: 2px;
  size: 5px;
  background-color: rgb(87, 86, 88);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
 
}

.accordion fieldset label {
padding: 10px;
margin-bottom: 20px; 
}

/* shows the list of options when the accordeon label is clicked */
.accordion input:checked ~ fieldset { max-height: 500px; }


fieldset input:checked ~ #clear_filters{ 
  color: rebeccapurple;
  max-height: 500px; }


.accordion label::after {
  /* arrow */
  display: block;  
  content: "\25b6";
  position: absolute;
  right: 15px; top: 10px;
 
  transition: all 0.4s;
}
 
.accordion  input:checked ~ label::after { 
  transform: rotate(90deg); 
}

/* ------------------------------------------------ applied filters section ------------------------------------------------ */


.clear_filters_div{
  margin-top: 2%;
  margin-left: 6%;
  margin-right: 4%;
  color: transparent;
}


#clear_filters{
  display: none;
}

.clear_filters_div input:checked ~ label{
  color: blue;
}

.clear_filters_div label{
  min-height: 100px;
  color: red;
}

