/*
body{
    background-color: rgba(27, 100, 24, 0.551);
}
*/

.title-img{
    background-position: 100%;
    background-size: cover;
    height: 400px;
    position: relative;
}


.title{
    max-width: fit-content;
    border-top: 5px solid rgb(241, 191, 53);
    border-bottom: 5px solid rgb(241, 191, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color:rgb(65, 164, 65);;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 54px;
}

.content{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 2em;
    margin-left: 2em;
  
}

#nav-button{
    color: inherit;
    text-decoration: none;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}        /* filtre */
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;
    height: min-content;}        /* tile_set */
    .col-10 {width: 83.33%;
    }
    .col-11 {width: 91.66%;}    /* content */
    .col-12 {width: 100%;}
    .content {
        flex-wrap: nowrap;
        display: flex;
    flex-direction: row;
    }
    .tile_set{
        column-gap: 4em;
    row-gap: 30px;
    align-items: flex-start;
    }

  }

  /* 18/25
  