element.style {
    display: none;
    height: 0px;
    width: 0px;
}

*, *:after, *:before {
    box-sizing: inherit;
}

user agent stylesheet
iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.cell, .type-body {
    line-height: 2;
}

.cell, .type-body {
    line-height: 1.65;
}

.cell, .type-body, .type-base {
    line-height: 1.4;
}

.cell, .type-body, .type-base {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}
.cell, .type-body, .type-big, .type-suffix, .fine-print, .gsc-control-cse .gcsc-branding, .type-small, .type-extra-small, .type-sans, .input-text, .photo-gallery__modal__text .credit, body[class*="--ecomm"] .input-select, .ecomm-input-select {
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.color-copy {
    color: #272b2d;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    box-sizing: inherit;
}
*, *:after, *:before {
    box-sizing: inherit;
}