.content{
    margin-top: 160px;
}

/* for the facts side (left) */
.side_div{
    max-height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-appearance: none;
    margin: 5em;
    margin-left: 7em;
    margin-top: 10px;
    width:17em;
    max-height: fit-content;
  }

.side_collumn{
    padding: 10px;
    padding-top: 0px;
    background-color: rgb(65, 164, 65);
    color: white;
    border: 5px solid rgb(64, 57, 57);
    border-radius: 10px;
}

#side_title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    text-decoration: underline;
    margin-bottom: 0px;
}

#side_information{
    padding-top: 0px;
}

#conservation_status{
    font-size: x-large;    
}


/* for the central batch of information */
.center_div{
    max-width: 36em;
}

.center_div h2{
    -webkit-text-decoration: rgb(65, 164, 65) solid underline;
    text-decoration: rgb(65, 164, 65) solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.side_img{
    width: 100px;
}

.side_img_div{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
}

/* the image on the right side */
.animal_side_img{
    width: 17em;
    margin-right: 7em;
    height: fit-content;
    margin: 0%;
    padding: 0px;
    background-position: 100%;
    position:relative;
    border: 5px solid rgb(231, 231, 231);
    transition: border 0.5s 0.3s;

}

.animal_side_img:hover{
    border: 5px solid rgb(241, 191, 53);
}


/* related animals section */
/* the main div */
.related_animals_div{
    margin-top: 0px;
    width:auto;
    margin-bottom: 10em;
}

/* "Related Animals"  */
#related_animals{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 80px;
}

/* the entire tiles area */
.related_animals_tiles{
    background-color: rgb(249, 249, 242);
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    margin-top: 150px;
    margin-bottom: 3em;
}

/* an individual tile */
.animal_tile{
    position: relative;
    text-align: center;
vertical-align: middle;
display: table-cell;
}

.related_animal_img{
    margin: 0%;
    padding: 0px;
    background-position: 100%;
    width: 200px;
    height: 200px;
}

.animal_tile .related_animal_name{
    color: transparent; 
    vertical-align:middle;
    text-align: center;
    z-index: 100;
    width: 200px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 86%;
    transition: all 0.5s 0.3s;
}

.related_animal_name p{
    vertical-align: middle;
}

.animal_tile:hover .related_animal_name{
    color: white;
    background-color: rgba(101, 101, 101, 0.8) ;
}

